* {
  font-family: Roboto;
  list-style: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  padding-left: 0;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 46px;
  border-bottom: 2px solid black;
}

.header .logo {
  text-align: center;
}

.header .logo-text {
  display: block;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.05em;
}

.header .logo-text-accent {
  display: block;
  margin-top: -5px;
  font-size: 18px;
  line-height: 1.15;
  color: #ffb097;
}

.page-title {
  margin-left: 60px;
}

.page-title-text {
  font-size: 19px;
  font-weight: bold;
}

.side-menu {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
  color: #0c848a;
}

.side-menu-title {
  font-size: 11px;
  line-height: 1.2;
}

.menu {
  font-size: 14px;
  line-height: 1.15;
  margin-left: 25px;
}

.menu-item {
  margin-top: 22px;
}

.menu-item span::before {
  margin-right: 6px;
  display: inline-block;
  width: 19px;
  height: 19px;
  content: "";
  background-color: #0c848a;
  vertical-align: middle;
  border-radius: 50%;
}

.current-item {
  font-weight: bold;
}

.current-item::after {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 18px;
  content: "";
  background-color: #0c848a;
}

.submenu {
  margin-left: 10px;
}

.submenu-item {
  margin-top: 14px;
}

.main-screen {
  padding: 18px;
  background-color: #dfebec;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.manage-block {
  padding-top: 24px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.manage-block-status label {
  font-weight: bold;
}

.manage-block-status select {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 15px;
  border: 0.5px solid #e5e5e5;
  border-radius: 2px;
  margin-left: 18px;
  width: 110px;
}

.manage-block-search .svg {
  position: absolute;
  right: 0;
  -webkit-transform: translate(-40%, 40%);
          transform: translate(-40%, 40%);
}

.search-container {
  position: relative;
  display: inline-block;
}

.manage-block-search .search {
  padding: 5px 7px;
  border: 1px solid #0c848a;
  border-radius: 2px;
}

.manage-block-search .search::-webkit-input-placeholder {
  color: rgba(12, 132, 138, 0.2);
}

.manage-block-search .search:-ms-input-placeholder {
  color: rgba(12, 132, 138, 0.2);
}

.manage-block-search .search::-ms-input-placeholder {
  color: rgba(12, 132, 138, 0.2);
}

.manage-block-search .search::placeholder {
  color: rgba(12, 132, 138, 0.2);
}

.manage-block-search button {
  margin-left: 22px;
  padding-top: 5px;
  padding-right: 14px;
  padding-bottom: 5px;
  padding-left: 35px;
  color: #fff;
  background-color: #00adbe;
  border: 1px solid;
  border-radius: 2px;
}

.table-block {
  padding-top: 13px;
  padding-bottom: 8px;
  padding-left: 11px;
  background-color: #fff;
}

.table-header {
  -webkit-box-shadow: 0px 1px 2px -1px #7c7c7c;
          box-shadow: 0px 1px 2px -1px #7c7c7c;
}

.table-header-item {
  padding-top: 13px;
  padding-bottom: 8px;
  text-align: left;
}

.table-header-item.check {
  padding-left: 11px;
}

.table-data-item {
  color: #30312c;
  padding-top: 17px;
  padding-bottom: 17px;
}

.table-data-item .employee-function {
  color: #c4c4c4;
  font-size: 11px;
  font-weight: 300;
}

.table-data-item.check {
  padding-left: 11px;
}

.table-data-item.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-data-item.name .employee-name {
  margin-left: 15px;
}

.table-data-item.status::before {
  margin-right: 8px;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.table-data-item.status.active::before {
  background: #198544;
}

.table-data-item.status.invited::before {
  background: #ced13f;
}

.table-data-item.status.inactive::before {
  background: #c4c4c4;
}

.table-block-table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(2n) {
  background-color: #f0f0f0;
}

a.svg:not(:first-child) {
  margin-left: 25px;
}

.employee-photo {
  width: 25px;
  height: 25px;
}

.table-nav-item {
  padding: 14px 50px;
}

.table-nav-button {
  color: #000;
  text-decoration: none;
  padding: 2px 4px;
  background-color: #fff;
  border: 0.5px solid #e5e5e5;
  border-radius: 1px;
}

.table-nav-button:not(:last-child) {
  margin-left: 6px;
}

.table-nav-button.current {
  color: #fff;
  background-color: #0c848a;
}
/*# sourceMappingURL=main.css.map */