.main-screen {
  padding: 18px;
  background-color: #dfebec;
  flex-grow: 2;
}

.manage-block {
  padding-top: 24px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.manage-block-status label {
  font-weight: bold;
}

.manage-block-status select {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 15px;
  border: 0.5px solid #e5e5e5;
  border-radius: 2px;
  margin-left: 18px;
  // appearance: none;
  width: 110px;
}

.manage-block-search .svg {
  position: absolute;
  right: 0;
  transform: translate(-40%, 40%);
}

.search-container {
  position: relative;
  display: inline-block;
}

.manage-block-search .search {
  // position: relative;
  padding: 5px 7px;

  border: 1px solid #0c848a;
  border-radius: 2px;

  &::placeholder {
    color: rgba(12, 132, 138, 0.2);
  }
}

.manage-block-search button {
  margin-left: 22px;
  padding-top: 5px;
  padding-right: 14px;
  padding-bottom: 5px;
  padding-left: 35px;
  color: #fff;
  background-color: #00adbe;
  border: 1px solid;
  border-radius: 2px;
}

.manage-search {
}
.manage-filter {
}

.table-block {
  padding-top: 13px;
  // padding-right: 110px;
  padding-bottom: 8px;
  padding-left: 11px;

  background-color: #fff;
}
.table-header {
  box-shadow: 0px 1px 2px -1px #7c7c7c;
}

.table-header-item {
  padding-top: 13px;
  padding-bottom: 8px;
  text-align: left;

  &.check {
    padding-left: 11px;
    // padding-right: 11px;
  }

  & svg {
  }
}
.table-data-item {
  // text-align: center;
  // font-size: 13px;
  color: #30312c;
  padding-top: 17px;
  padding-bottom: 17px;

  & .employee-function {
    color: #c4c4c4;
    font-size: 11px;
    font-weight: 300;
  }

  &.check {
    padding-left: 11px;
    // padding-right: 11px;
  }

  &.date {
    // padding-left: 10px;
    // padding-right: 40px;
  }
  &.name {
    display: flex;
    // padding-left: 30px;
    // padding-right: 20px;

    & .employee-name {
      margin-left: 15px;
    }
  }

  &.email {
    // padding-left: 15px;
    // padding-right: 30px;
  }

  &.posts {
    // padding-left: 30px;
    // padding-right: 16px;
  }

  &.status {
    // padding-left: 20px;
    // padding-right: 40px;

    &::before {
      margin-right: 8px;
      display: inline-block;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    &.active::before {
      background: #198544;
    }
    &.invited::before {
      background: #ced13f;
    }
    &.inactive::before {
      background: #c4c4c4;
    }
  }

  &.options {
    // padding-left: 50px;
    // padding-right: 50px;
  }
}

// tr:nth-child(2n) {
//   background-color: #f0f0f0;
// }
.table-block-table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-of-type(2n) {
  background-color: #f0f0f0;
}

a.svg:not(:first-child) {
  margin-left: 25px;

  // background-image: url(../img/exchange.png);
}

.employee-photo {
  width: 25px;
  height: 25px;
}

.table-nav-item {
  padding: 14px 50px;
}

.table-nav-button {
  color: #000;
  text-decoration: none;
  padding: 2px 4px;
  background-color: #fff;
  border: 0.5px solid #e5e5e5;
  border-radius: 1px;

  &:not(:last-child) {
    margin-left: 6px;
  }

  &.current {
    color: #fff;
    background-color: #0c848a;
  }
}
